/* [type="button"]:not(:disabled), */
[type="reset"]:not(:disabled),
/* [type="submit"]:not(:disabled), */
button:not(:disabled) {
	cursor: pointer;
	border: none;
	font-size: 20px;
}

.add_user {
	background-color: #000 !important;
	color: fff !important;
	box-shadow: 6px 5px gray;
}

.add_user:hover {
	border: 1px solid #000;
	background-color: #fff !important;
	color: #000 !important;
}

.leftUseList {
	display: flex;
	margin-top: 2px;
}

.leftUseList_sidebar {
	height: 100vh;
	background-color: rgb(247, 243, 243);
	border-right: 3px solid lightgray;
	/* border: 5px solid red; */
	flex: 0.35;
}

@media only screen and (max-width: 720px) {
	.leftUseList {
		width: 200px;
	}
	.leftUseList__usersname h5 {
		font-size: 1em;
	}
	.leftUseList__usersname p {
		font-size: 0.9em;
	}
}

.leftUseList__users {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #000;
	margin: 14px 10px;
}

.leftUseList__users img {
	object-fit: contain;
	border-radius: 40px;
}
.leftUseList__usersname {
	margin-left: 25px;
	width: 100%;
}

.leftUseList__users:hover {
	background-color: rgb(231, 226, 226);
}

.add_btn {
	display: flex;
	padding: 10px 10px;
}

.leftUseList_sidebar__add_button {
	display: flex;
	border: 1px solid black;
	justify-content: space-between;
	margin: 10px 10px;
	padding: 10px 12px;
	/* flex: 1; */
	/* justify-content: center; */
	align-items: center;
	border-radius: 10px;
}

/* .del_user {
	font-size: 25px;
	margin: 10px 10px;
} */
