@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	background-color: #01ab97;
	color: white;
}

.navbar img {
	width: 75px;
	border-radius: 35px;
	object-fit: contain;
}

.navbar h1 {
	font-family: "Roboto Slab", serif;
	margin: 10px 20px;
}
